<footer id="footer-content" class="bg-grau">
  
  <div id="subfooter">
    <nav class="">
      
      <section class="">
        {{ site.description }}
      </section>

      <section class="">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </section>

      <section class="">
        <ul class="inline-list social-icons"> 
        {% for social_item in site.data.socialmedia %}
          <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
        {% endfor %}
        </ul>
      </section>

    </nav>
  </div>
  
</footer>
