<header class="site-header" role="banner">

  <!-- AQUI VAI A LOGO -->
  <div class="wrapperheaderlogo">
    <a class="site-title" rel="author" href="{{ site.url | relative_url }}">
      <img src="img/teste.png" class="media-object  img-responsive img-thumbnail">
    </a>
  </div>

  <!-- AQUI VAI OS LINKS-->
  <div class="wrapperheader">
      <div class="linksAccess">
          <a href="" title="Apple podcast">
              <img class="img" src="http://pluspng.com/img-png/apple-podcast-png-podcasts-app-icon-300.png" alt="Apple Podcast PNG">Apple</a>
      </div>
      <div class="linksAccess">
        <a href="" title="Spotify podcast">
          <img class="img" src="https://www.freeiconspng.com/uploads/spotify-icon-2.png" alt="Transparent Spotify Png"/>Spotify</a>
      </div>
      <div class="linksAccess">
        <a href="" title="Inscreva-se via RSS">
          <img class="rss" src="img/RSS.png" alt="Transparent Spotify Png"/>RSS</a>
      </div>
  </div>

  <!-- AQUI VAI OS AUTORES DO PODCAST -->
  <div class="wrapperheader">
    <div class="authorAccess">
      <a href="" rel="external" title="Cleisson Vieira Raimundi">
        <img src="img/cleisson.jpeg" data-loaded="true">Cleisson V. Raimundi</a>
    </div>
    <div class="authorAccess">
      <a href="" rel="external" title="Isabeli Rosana Reik">
        <img src="img/isabeli.jpeg" data-loaded="true">Isabeli R. Reik</a>
    </div>     
    <div class="authorAccess">
      <a href="" rel="external" title="Matheus Dias Negrao">
        <img src="img/negrao.jpeg" data-loaded="true">Matheus D. Negrao</a>
    </div>
    <div class="authorAccess">
      <a href="" rel="external" title="Vinicius de Jesus dos Reis">
        <img src="img/teste.jpg" data-loaded="true">Vinicius J. Reis</a>
    </div>      
  </div>

</header>
