// Relacionado aos links para acesso a outras plataformas do header
.linksAccess {
    margin: 10px;
    float: left;
    width: 130px;
    height: 60px;
    background-color: rgba(197, 200, 207, 0.2);
    top: -50%;
}

.linksAccess .img {
    float: left;
    width: 40%;
    height: auto;
    margin: 3%;
}

.linksAccess .rss {
    float: left;
    width: 47%;
    height: auto;
}

.linksAccess a {
    font-size: 100%;
    float: left;
    line-height: 350%;
}

.linksAccess a, .authorAccess a { // Para Autores e Links
    text-align: center;
    text-decoration: none;
    color: white;
    font: Arial, Sans-serif;
}

.linksAccess, .authorAccess img { // Para Autores e Links
    border-radius: 6%;
}

.linksAccess a {
    font-size: 100%;
}

// Relacionado aos autores no header
.authorAccess {
    margin: 30px;
    float: left;
    width: 80px;
}
  
.authorAccess img {
    width: 100%;
    // height: auto;
    
}

.authorAccess a {
    font-size: 80%;
}

.pod {
    background-color: black;
    width: 80%;
}