---
layout: default
---

<!-- "page." se usa para citar o que está acima /\ "page.layout" por exemplo -->
<!-- "post." busca o que está dentro da pasta post, dentro dos "---", como exemplo acima do page -->
<!-- "site." busca dentro do config.yml, todas as váriaveis, como se fosse globais -->


  
  <div class="content list">
    {% if site.posts.size == 0 %}
      <h2>No post found</h2>
    {% else %}
      {% for post in site.posts %}
        <div class="list-item">
          <h2 class="list-post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p>Podcast #{% increment my_counter%}</p>
          <div>
            <h4>{{ post.description }}</h4>
          </div>
          <div>
            <audio autoplay="autoplay" controls="controls">
              <source src="/assets/podcast/teste1.mp3" type="audio/mp3" />
              seu navegador não suporta HTML5
            </audio>
          </div>
          <div class="list-post-date">
            <time>{{ post.date | date_to_string }}</time>
          </div>
        </div>
        
      {% endfor %}
    {% endif %}
  </div>